snippet type "Print type" b
print('$1. Type: ', type($1))
endsnippet

snippet print "Print variable" b
print('$1: ', $1)
endsnippet

snippet vars "Print dict vars" b
print('$1: ', vars($1))
endsnippet

snippet todo "Todo"
# TODO: $1
endsnippet
